body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.timer-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    cursor: pointer;
    border: 4px solid silver; /* Добавляем рамку вокруг кнопки */
    border-radius: 50%; /* Кнопка круглая */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Добавляем тень */
    transition: transform 0.2s; /* Плавный переход при наведении */
}

.timer-container:hover {
    transform: scale(1.05); /* Увеличение при наведении */
}

.progress-ring {
    transform: rotate(-90deg);
}

.progress-ring__circle {
    transition: stroke-dashoffset 1s linear;
    stroke: lightgray; /* Цвет внутри круга (светло-серый) */
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
}

.settings {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

input[type="number"], input[type="color"] {
    padding: 5px;
    width: 80px;
    margin-left: 10px;
}

#cycleInfo {
    margin-top: 10px;
    font-size: 18px;
}
